
.popover-title {
    background-color: #337ab7;
}
.popover-content {

}
/* .css_quantity{
    margin: auto;
} */
.wk_cart_values{
    margin: 0px;
}
.total-sum{
  color: #c52c2c;
}
table#cart_products tbody tr td {
    padding: 0.3rem !important;
    /* color:red; */
}
